<div class="slds-form--stacked">
    <div class="slds-grid slds-container--small slds-container--center" >
        <div class="slds-col--padded">
            <div class="slds-theme--shade slds-text-align--left">
                <div class="slds-form-element slds-is-required">
                    <label class="slds-form-element__label" for="customerId">Account Name</label>
                    <div class="slds-form-element__control">
                        <select name="customerId" id="customerId" class="slds-select" required>
                            <option value="0100000002">DelBont Industries</option>
                            <option value="0100000004">Panorama Studios</option>
                            <option value="0100000005">TECUM</option>
                            <option value="0100000006">Asia High Tech</option>
                            <option value="0100000008">AVANTEL</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>